<div class="container-fluid">
    <div class="container-fluid border-top p-2 border-bottom">
        <h1>Class 12</h1>
        <div class="row">
            <div class="card position-relative col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Determination_of_concentration_of_KMnO4_solution.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Determination of concentration of KMnO4 solution</p>
                </div>
                <a asp-action="KMNO4" class="stretched-link"></a>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Determination of EMF of a Cell.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Determination of EMF of a Cell</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Effect of Temperature on Rate of Reaction.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Effect of Temperature on Rate of Reaction</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Effectiveness of Different Common Oils in Forming Emulsions.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Effectiveness of Different Common Oils in Forming Emulsions</p>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Kinetic Study on the Reaction between Iodide Ions and Hydrogen Peroxide.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Kinetic Study on the Reaction between Iodide Ions and Hydrogen Peroxide</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Preparation of Organic Compounds.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Preparation of Organic Compounds</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Thermochemistry.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Thermochemistry</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Qualitative Analysis of Carbohydrates.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Qualitative Analysis of Carbohydrates</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-2 border-top border-bottom">
        <h1>Class 11</h1>
        <div class="row">
            <div class="card position-relative col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Determination_of_concentration_of_KMnO4_solution.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Determination of concentration of KMnO4 solution</p>
                </div>
                <a asp-action="KMNO4" class="stretched-link"></a>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Determination of EMF of a Cell.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Determination of EMF of a Cell</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Effect of Temperature on Rate of Reaction.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Effect of Temperature on Rate of Reaction</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Effectiveness of Different Common Oils in Forming Emulsions.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Effectiveness of Different Common Oils in Forming Emulsions</p>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Kinetic Study on the Reaction between Iodide Ions and Hydrogen Peroxide.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Kinetic Study on the Reaction between Iodide Ions and Hydrogen Peroxide</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Preparation of Organic Compounds.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Preparation of Organic Compounds</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Thermochemistry.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Thermochemistry</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Qualitative Analysis of Carbohydrates.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Qualitative Analysis of Carbohydrates</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-2 border-top border-bottom">
        <h1>Class 10</h1>
        <div class="row">
            <div class="card position-relative col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Determination_of_concentration_of_KMnO4_solution.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Determination of concentration of KMnO4 solution</p>
                </div>
                <a asp-action="KMNO4" class="stretched-link"></a>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Determination of EMF of a Cell.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Determination of EMF of a Cell</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Effect of Temperature on Rate of Reaction.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Effect of Temperature on Rate of Reaction</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Effectiveness of Different Common Oils in Forming Emulsions.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Effectiveness of Different Common Oils in Forming Emulsions</p>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Kinetic Study on the Reaction between Iodide Ions and Hydrogen Peroxide.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Kinetic Study on the Reaction between Iodide Ions and Hydrogen Peroxide</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Preparation of Organic Compounds.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Preparation of Organic Compounds</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Thermochemistry.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Thermochemistry</p>
                </div>
            </div>
            <div class="card col-3 p-3 mx-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/class12/Qualitative Analysis of Carbohydrates.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Qualitative Analysis of Carbohydrates</p>
                </div>
            </div>
        </div>
    </div>
</div>