<div class="container-fluid">
    <div class="container-fluid border-top p-2 border-bottom">
        <h1>Class 12</h1>
        <div class="card position-relative" style="width: 18rem;">
            <img class="card-img-top" src="~/images/class12/Determination_of_concentration_of_KMnO4_solution.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Determination of concentration of KMnO4 solution</p>
            </div>
            <a asp-action="KMNO4" class="stretched-link"></a>
        </div>
    </div>
    <div class="container-fluid p-2 border-top border-bottom">
        <h1>Class 11</h1>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/class11/Basic Laboratory Techniques.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Basic Laboratory Techniques</p>
            </div>
        </div>
    </div>
    <div class="container-fluid p-2 border-top border-bottom">
        <h1>Class 10</h1>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/images/class10/Cleaning Capacity of Soap with Hard and Soft Water.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Cleaning Capacity of Soap with Hard and Soft Water</p>
            </div>
        </div>
    </div>
</div>