<style>
    iframe {
        display: block; /* iframes are inline by default */
        height: 100vh; /* Set height to 100% of the viewport height */
        width: 100vw; /* Set width to 100% of the viewport width */
 /* Disable the iframe default border */
    }

    .video-iframe {
        width: 100%; /* Set the desired width for the video iframe */
        height: 500px; /* Set the desired height for the video iframe */
    }
</style>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active text-dark" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Theory</button>
        <button class="nav-link text-dark" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Procedure</button>
        <button class="nav-link text-dark" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">Animation</button>
        <button class="nav-link text-dark" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Simulator</button>
        <button class="nav-link text-dark" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Video</button>
    </div>
    <div class="tab-content container-fluid" id="v-pills-tabContent">
        <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            <ul id="labProcedure">
                <!-- Preparation of standard solution of oxalic acid -->
                <li data-translation-key="prepOxalicAcid">Using an electronic balance, first weigh exactly 3.15g of oxalic acid crystals in a weighing bottle.</li>
                <li data-translation-key="transferToBeaker">Transfer these into a 250ml beaker.</li>
                <li data-translation-key="washWeighingBottle">Then wash the weighing bottle 2 or 3 times with distilled water and transfer all the washings into the beaker.</li>
                <li data-translation-key="dissolveInBeaker">Dissolve the oxalic acid crystals in the beaker by gentle stirring with a clean glass rod.</li>
                <li data-translation-key="transferToFlask">When the oxalic acid crystals in the beaker are completely dissolved, transfer the entire solution from the beaker into a 250ml standard flask through a funnel and a glass rod.</li>
                <li data-translation-key="washBeaker">Wash the beaker 2 to 3 times with distilled water and transfer all the washings into the standard flask.</li>
                <li data-translation-key="washFunnel">Finally wash the funnel thoroughly with distilled water to transfer the drops of the solution on the sides of the funnel into the standard flask.</li>
                <li data-translation-key="addDistilledWater">Add enough distilled water to the standard flask so that the level is just below the calibration mark on it.</li>
                <li data-translation-key="adjustWaterLevel">Add the last few drops of distilled water with a pipette until the lower level of the meniscus just touches the mark on the standard flask.</li>
                <li data-translation-key="stopperAndShake">Stopper the measuring flask and shake gently to make the solution uniform throughout.</li>

                <!-- Determination of strength of given KMnO4 -->
                <li data-translation-key="washBurette">Take a burette and wash it with distilled water.</li>
                <li data-translation-key="fillBurette">Rinse and fill the burette with the given KMnO4 solution and set the initial burette reading as zero.</li>
                <li data-translation-key="clampBurette">Clamp it vertically to the burette stand.</li>
                <li data-translation-key="rinsePipette">Rinse the pipette with water and then with the given oxalic acid solution.</li>
                <li data-translation-key="pipetteOxalicAcid">Then pipette out 20ml of the given oxalic acid solution into a conical flask and add one test tube (~20ml) full of dil.H2SO4 into it.</li>
                <li data-translation-key="heatConicalFlask">Heat the contents of the conical flask to 60-70°C.</li>
                <li data-translation-key="titrateKMnO4">Titrate it against the KMnO4 solution taken in the burette till the color of the solution in the conical flask changes from colorless to light pink.</li>
                <li data-translation-key="noteBuretteReading">Note down the final burette reading.</li>
                <li data-translation-key="repeatTitration">Repeat the titration until concordant values are obtained.</li>
            </ul>

        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
            <ul id="titrationInstructions">
                <li data-translation-key="titrate">Titrate: Oxalic Acid</li>
                <li data-translation-key="selectTitrate">Select the titrate 'Oxalic Acid' from the 'Titrate' drop-down list.</li>
                <li data-translation-key="adjustDropsRate">You can adjust the drops rate using the 'Drops rate' slider.</li>
                <li data-translation-key="selectMolarity">Use the respective sliders to select the molarity and volume of the titrate.</li>
                <li data-translation-key="dragTestTube">Drag the test tube containing Dil. H2SO4 to the conical flask to pour the solution in it.</li>
                <li data-translation-key="dragConicalFlask">Drag the conical flask and place it over the Bunsen burner.</li>
                <li data-translation-key="lightBurner">Light the burner by clicking on the knob and heat it until the temperature reaches 70oC to 80oC.</li>
                <li data-translation-key="placeConicalFlaskTile">Drag the conical flask and place it on a tile.</li>
                <li data-translation-key="startTitration">Click on the 'Start' button or on the 'Nozzle' of the burette to start the titration.</li>
                <li data-translation-key="showBuretteReading">The zoomed view of the burette reading is shown.</li>
                <li data-translation-key="showVolumeTitrant">You can see the volume of KMnO4 used for the titration by clicking on the 'Show the volume of titrant' checkbox.</li>
                <li data-translation-key="endPoint">The endpoint is reached when a pink color develops; at this point, stop the titration either by clicking on the 'Stop' button or clicking on the 'Nozzle' of the burette.</li>
                <li data-translation-key="chemicalEquation">You can see the chemical equation of the reaction on the side menu.</li>
                <li data-translation-key="findMoles">Find out the number of moles of the titrate (n1) and that of the titrant (n2) from the chemical equation and enter the values in the respective text boxes and verify the values.</li>
                <li data-translation-key="calculateMolarity">Calculate the molarity of the titrant using the given equation and enter the value in the corresponding text box and verify the value.</li>
                <li data-translation-key="showMolarMass">The molar mass of the titrant is shown on the side menu.</li>
                <li data-translation-key="calculateStrength">Calculate the strength of the given titrant (in g/lit) and enter the value in the corresponding text box and verify the result.</li>
                <li data-translation-key="useWorksheet">You can alternatively use the embedded worksheet to find the values by entering the data in the specific fields.</li>
                <li data-translation-key="redoExperiment">To redo the experiment, click the 'Reset' button.</li>
            </ul>

        </div>
        <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
            <iframe class="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/KREd6qI_QJU?si=Ly8mEuytmMaDVYud" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
            <iframe class="container-fluid col " src="~/KMNO4.html"></iframe>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
            <iframe class="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/LzQpbfU7DLo?si=M_KWCU_K1w14sd60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div>
        <p>Point: 0</p>
    </div>
</div>
<script>
    function changeLanguage(lang) {
        // Define language-specific content
        const languageContent = {
            'en': {
                'titrate': 'Titrate: Oxalic Acid',
                'selectTitrate': 'Select the titrate \'Oxalic Acid\' from the \'Titrate\' drop-down list',
                'adjustDropsRate': 'You can adjust the drops rate using the \'Drops rate\' slider',
                'selectMolarity': 'Use the respective sliders to select the molarity and volume of the titrate',
                'dragTestTube': 'Drag the test tube containing Dil. H2SO4 to the conical flask to pour the solution in it',
                'dragConicalFlask': 'Drag the conical flask and place it over the Bunsen burner',
                'lightBurner': 'Light the burner by clicking on the knob and heat it till the temperature reaches 70oC to 80oC',
                'placeConicalFlaskTile': 'Drag the conical flask and place it on a tile',
                'startTitration': 'Click on the \'Start\' button or on the \'Nozzle\' of the burette to start the titration',
                'showBuretteReading': 'The zoomed view of the burette reading is shown',
                'showVolumeTitrant': 'You can see the volume of KMnO4 used for the titration by clicking on the \'Show the volume of titrant\' checkbox',
                'endPoint': 'The endpoint is reached when a pink color develops; at this point, stop the titration either by clicking on the \'Stop\' button or clicking on the \'Nozzle\' of the burette',
                'chemicalEquation': 'You can see the chemical equation of the reaction on the side menu',
                'findMoles': 'Find out the number of moles of the titrate (n1) and that of the titrant (n2) from the chemical equation and enter the values in the respective text boxes and verify the values',
                'calculateMolarity': 'Calculate the molarity of the titrant using the given equation and enter the value in the corresponding text box and verify the value',
                'showMolarMass': 'The molar mass of the titrant is shown on the side menu',
                'calculateStrength': 'Calculate the strength of the given titrant (in g/lit) and enter the value in the corresponding text box and verify the result',
                'useWorksheet': 'You can alternatively use the embedded worksheet to find the values by entering the data in the specific fields',
                'redoExperiment': 'To redo the experiment, click the \'Reset\' button',
            },
            'vi': {
                'titrate': 'Chuẩn độ: Axit oxalic',
                'selectTitrate': 'Chọn chất chuẩn độ \'Axit oxalic\' từ danh sách thả xuống \'Chuẩn độ\'',
                'adjustDropsRate': 'Bạn có thể điều chỉnh tỷ lệ bằng thanh trượt \'Tỷ lệ\'',
                'selectMolarity': 'Sử dụng các thanh trượt tương ứng để chọn nồng độ mol và thể tích của chất chuẩn độ',
                'dragTestTube': 'Kéo ống nghiệm chứa Dil. H2SO4 vào bình nón để đổ dung dịch vào đó',
                'dragConicalFlask': 'Kéo bình nón và đặt nó lên trên đèn Bunsen',
                'lightBurner': 'Đốt lửa bằng cách bấm vào núm và đun nóng cho đến khi nhiệt độ đạt 70oC đến 80oC',
                'placeConicalFlaskTile': 'Kéo bình nón và đặt nó dưới buret nhỏ giọt',
                'startTitration': 'Nhấp vào nút \'Bắt đầu\' hoặc vào \'khóa vòi\' của buret để bắt đầu chuẩn độ',
                'showBuretteReading': 'Chế độ xem phóng to của số đọc buret được hiển thị',
                'showVolumeTitrant': 'Bạn có thể xem thể tích KMnO4 đã sử dụng để chuẩn độ bằng cách nhấp vào hộp/nút kiểm tra \'Hiển thị thể tích chất chuẩn độ\'',
                'endPoint': 'Điểm cuối đạt được khi xuất hiện màu hồng, tại thời điểm này, dừng chuẩn độ hoặc nhấp vào nút \'Dừng\' hoặc nhấp vào khóa \'Vòi phun\' của buret',
                'chemicalEquation': 'Bạn có thể xem phương trình hóa học của phản ứng ở menu bên cạnh',
                'findMoles': 'Tìm số mol của chất chuẩn độ (n1) và chất chuẩn độ (n2) từ phương trình hóa học và nhập các giá trị vào các hộp văn bản tương ứng và xác minh các giá trị',
                'calculateMolarity': 'Tính nồng độ mol của chất chuẩn độ bằng phương trình đã cho và nhập giá trị vào hộp văn bản tương ứng và xác minh giá trị',
                'showMolarMass': 'Khối lượng mol của chất chuẩn độ được hiển thị trên menu bên cạnh',
                'calculateStrength': 'Tính nồng độ của chất chuẩn độ đã cho (tính bằng g/lit) và nhập giá trị vào hộp văn bản tương ứng và xác minh kết quả',
                'useWorksheet': 'Bạn có thể sử dụng bảng tính nhúng (bảng exel) để tìm các giá trị bằng cách nhập dữ liệu vào các trường cụ thể',
                'redoExperiment': 'Để làm lại thí nghiệm hãy nhấp vào nút \'Đặt lại\'',
            }
        }
            ;

        // Update content based on the selected language
        const listItems = document.getElementById('titrationInstructions').children;
        for (let i = 0; i < listItems.length; i++) {
            const key = listItems[i].getAttribute('data-translation-key');
            if (languageContent[lang][key]) {
                listItems[i].textContent = languageContent[lang][key];
            }
        }
    }
</script>