<style>
    iframe {
        display: block; /* iframes are inline by default */
        height: 100vh; /* Set height to 100% of the viewport height */
        width: 100vw; /* Set width to 100% of the viewport width */
    }
</style>
<div class="container-fluid">
    <iframe class="container-fluid " src="~/test2.html"></iframe>
</div>